body{
    background-color: whitesmoke;
}

#tableau{
    text-align: center;
}

h1{
    text-align: center;
    border-bottom: ridge 3px black;
}

fieldset{
    border: ridge 10px red;
    padding-bottom: 100px;
    margin: auto;
    height: 40px;
    width: 60px;
}